@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@500&family=Silkscreen&display=swap');


.cat{
    top: 3.8cm;
    position: relative ;
    width: 6%;
    height: 12%;
    left: 3cm;
}

.mail{
    top: -3.5cm;
    position:relative;
    border-radius: 25px;
    background-color: rgb(228, 228, 228);
    width: 3.5cm;
    font-family: 'Noto Serif HK', serif;
    font-family: 'Silkscreen', cursive;
    font-size: 0.35cm;
}

.pass{
    position:relative;
    top: -3.5cm;
    border-radius: 25px;
    background-color: rgb(228, 228, 228);
    width: 3.5cm;
    font-family: 'Noto Serif HK', serif;
    font-family: 'Silkscreen', cursive;
}


.icecream{
    top: -3.3cm;
    position:relative;
    width: 5%;
    height: 5%;
}

.reg_sm{
    top: -3.5cm;
    position:relative;
    font-family: 'Noto Serif HK', serif;
    font-family: 'Silkscreen', cursive;
    font-size: 10px;
}

.reg {
    top: -3.5cm;
    position:relative;
    font-size: 20px;
    color: rgb(69, 139, 171);
    font-family: 'Noto Serif HK', serif;
    font-family: 'Silkscreen', cursive;
}


.box{
    top: 3cm;
    border-radius: 25px;
    position: relative ;
    width: 8cm;
    height: 7cm;
    border: 2px solid black;
    background-color: plum;
}



